* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: "Inter", sans-serif;
}

/* Main Card */

.card {
  width: 20rem;
  height: 50rem;
  background-color: #1a1b21;
}

/* Card Info Section */

/* img person */

.img-person {
  width: 100%;
}

/* Person' s Informations */

.person-info {
  font-family: Inter;
  font-size: 1.4rem;
  color: white;
  font-weight: 700;
  line-height: 1.8rem;
  text-align: center;
}
.person-info > h1 {
  margin-bottom: 0.4rem;
  margin-top: 1.3rem;
}
.person-info > h2 {
  color: #f3bf99;
  font-family: Inter;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 15.49px;
  text-align: center;
  margin-bottom: 39px;
}

/* Buttons inside Information section */

.btn {
  display: flex;
  color: white;
  padding: 0.5rem 1.5rem;
  gap: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  justify-content: center;
  font-weight: bold;
  align-items: center;
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
}
.btn__email {
  background-color: #d1d5db;
}

.btn__email:hover {
  background-color: #a9abad;
  transition: 1s ease-in-out;
}
.btn__linkedin {
  background-color: #5093e2;
}
.btn__linkedin:hover {
  background-color: #1d79e3;
  transition: 1s ease-in-out;
}

/* About Section */
.about__section {
  width: 247px;
  height: 201px;
  color: white;
  margin: auto;
  padding-block: 1rem;
}
span {
  font-family: Inter;
  font-size: 11.24px;
  text-align: left;
}
.card {
  position: relative;
}
/* Footer Section */
footer {
  position: absolute;
  bottom: 0px;
  margin: auto;
  background-color: #161619;
  width: 317px;
  height: 64px;

  border-radius: 0px 0px 10px 10px;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;
}
/* Container below the image which contains all information ( above footer )*/
.container__info {
  padding: 2.1rem 1.8rem;
}
.card {
  border-radius: 5px;
}
.page-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #23252c;
}
